<div class="span4 sidebar_smallbox_holder">
</div>
<script type="text/javascript">
    $(function(){
        window.sidebar_loaded = false;
        $.getJSON("{{ url }}", function(data) {
            $('.sidebar_smallbox_holder').html(data);
            window.sidebar_loaded = true;
        });
        $(window).load(function() {
            var add_right_content_bg_interval = setInterval(function(){
                if (window.sidebar_loaded) {
                    var el = add_right_content_bg();
                    el.animate({opacity: 0.2}, 200);
                    clearInterval(add_right_content_bg_interval);
                }
            }, 100);
        });
    });
</script>
