Prije pristupanja stranci Za grad, ističemo da time prihvaćate uvjete pristupanja:<br><br>
1. Na internetskim stranicama stranke Za grad istaknuti su Statut i Program stranke Za grad te se pretpostavlja da je svaki potpisnik elektronske pristupnice iste i pročitao i prihvatio.<br><br>
2. Elektronska pristupnica je punovažna ukoliko je pravilno i u potpunosti ispunjena obaveznim podacima.<br><br>
3. Elektronska pristupnica smatra se vlastoručno potpisanom ukoliko je nakon ispunjenja pritisnut gumb PRIHVATI.<br><br>
4. Elektronsku pristupnicu prima Središnji ured stranke Za grad i ona se uvodi u elektronski registar stranke Za grad.<br><br>
5. Nakon uvođenja u Registar članova stranke Za grad i pristupnik postaje punopravni član te dobiva člansku iskaznicu stranke.<br><br>
6. Godišnja članarina je 200kn. O promjeni će svaki član/članica biti obaviješteni, a svaka promjena se ne naplaćuje retrogradno. Od svakog člana/članice se očekuje da će uredno plaćati svoju članarinu te voditi računa o redovitoj uplati. Članom se automatski prestaje biti neplaćanjem najmanje jedne godine.<br><br>
Uskoro ćemo te kontaktirati radi reguliranja članstva i preuzimanja članske iskaznice.<br><br>

Stranka ZA GRAD
