{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="form-holder">
        <div class="title">Poništavanje lozinke</div>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>
            Zaboravili ste lozinku? Unesi svoju e-mail adresu na koju ćemo ti poslati link za poništavanje lozinke.
        </p>

        <form method="POST" action="" class="password_reset">
            {% csrf_token %}
            {% include 'snippets/form.html' with form=password_reset_form %}
            {% include 'snippets/btn.html' with label="poništi lozinku" %}
        </form>

    </div>
{% endblock %}

{% block extra_body %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
