{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="form-holder">
        <div class="title">Promjena lozinke</div>

        <form method="POST" action="" class="password_change">
            {% csrf_token %}
            {% include 'snippets/form.html' with form=password_change_form %}
            {% include 'snippets/btn.html' with label="promjeni lozinku" %}
        </form>
    </div>
{% endblock %}
