{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="form-holder">
        <div class="title">{% if token_fail %}Pogrešan link{% else %}Promjena lozinke{% endif %}</div>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>Ovaj link za poništavanje lozinke već je iskorišten. Zatraži <a href="{{ passwd_reset_url }}">novi link</a>.</p>
        {% else %}
            {% if form %}
                <form method="POST" action="" class="uniForm">
                    {% csrf_token %}
                    {% include 'snippets/form.html' %}
                    {% include 'snippets/btn.html' with label="promjeni lozinku" %}
                </form>
            {% else %}
                <p>Uspješno si promjenio lozinku.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
